@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111;
  margin: 0;
  overflow: hidden;
}

/* Custom scrollbar for terminal feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #18181b;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}